.component_button {
  width: 148px;
  height: 38px;
  color: #2079C7;
  border: 1px solid #2079C7;
  background: transparent;
  margin: 30px 0;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 5;
  text-transform: capitalize;
}

.component_button:hover {
  color: #ebebeb;
  border: 1px solid #ebebeb;
}

@media (min-width: 992px) {
  .component_button {
    width: 296px;
    height: 76px;
    margin: 60px 0;
    font-size: 20px;
  }
}
