.nav_menu {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #2079C7;
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) { 
  .nav_menu {
    flex-direction: row;
    height: 60px;
  }  
}

@media (min-width: 576px) { 
  .nav_menu {
    
  }  
}

@media (min-width: 768px) { 
  .nav_menu {
    
  }  
}

@media (min-width: 992px) {
  .nav_menu {
    position: static;
    margin-left: 40%;
    margin-right: 20%;
    background: none;
    height: 20px;
    color: #2079C7;
    font-size: 20px;
    font-weight: 400;
    justify-content: space-evenly;
  }  
}

@media (min-width: 1200px) {
  .nav_menu {
 
  }  
}
